/* Property 1=Variant2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 25px;
gap: 10px;

position: absolute;
width: 190px;
height: 51px;
left: 20px;
top: 91px;

background: radial-gradient(50% 50% at 50% 50%, #D763FF 0%, rgba(10, 71, 242, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(0deg, #0A47F2, #0A47F2), radial-gradient(342.89% 359.97% at 49.74% 48.94%, rgba(10, 71, 242, 0.5) 0%, rgba(181, 201, 255, 0.5) 100%), linear-gradient(0deg, #0A47F2 79.79%, #B5C9FF 122.34%);
box-shadow: -5px -5px 12px rgba(215, 99, 255, 0.2), 5px 5px 12px 10px rgba(138, 136, 255, 0.2);
border-radius: 36px;


/* Get Started Now */

width: 140px;
height: 27px;

/* Text/Medium/Bold */
font-family: 'Satoshi';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* Colors/B&W/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
